<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ducere.lechal.pod">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- enables WiFi, if disabled, for the duration of a location request -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- used to obtain cell tower ID -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="BPfNeHYytv3NRsUZ6rHh" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="YuMWwLfjpA4Jq74s6IcjIg" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="B5ghRXDOlrhRz6whkz3UGt2u7yAS6RNTywnlU30DnGEMWPRNFP7XCktxwZ4FPbDTswZIqxOW2yiWDdCoHOJiYcz1TrpvlOXRIbOAemTlX70dwVto8XwmLuGblcfcRR8KTGpqivSnM0PjWe3eWsylX/mNzo7169lVDpReHSff+DlW8IAqF+1xoQxBD5fv2GeSBjIdPmF/MLY4RrKlvx2kNB4zF2uLC5Jdml6eQT89WnPFhy6kCg0e7Nwaopwdkw2KmcP8hpAMdDydCW2wtOVbbnbUVzAPLcia1DZkWP60lC2TwWRKkuyrH0Cg1iqwF8kjpF10wNiHWjSQylDl+tO453ivX7rpgneLPrkFVrHVLez/e98OKaMQo/iTPf6dDJI23G/es1b9SXfu8Pkzky7z+OtQRBqk6kXZqGDZNsfLoUKZMcMJ2s/GUwHDjEGT5xFptKgOaX2o6BGkRsS4mK3ngcUyTIHesGSG+0pofjP2XIc7Q5geCjuNcOgRnGKyMEc0CuMrJUbxosO1ThxazA8Hs10E/GphMLJAiItEa5B9Y8elaYg5lzxpLvzKIhX4hd8bzk5cB133MNIZxgDb5fbK1krxHMOaE6ctsCgAu+JD8CA6UZ/gXiFexjQFK2X1Dkjo79UBK1sVoyLrQSeROTPvcRjq9thak7b58Y5cgu9YQMo=" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PodsConnectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ble.PodsConnectivityService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".ble.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".LocationReceiver" />

        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VibrationTutorialActivity"
            android:label="@string/title_activity_vibration_tutorial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntensityActity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_intensity_actity"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".FootwearActity"></activity>
        <activity
            android:name=".adapters.StartSessionActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditDailySession"
            android:label="@string/edit_daily_goal" />
        <activity android:name=".NearbyListActivity" />
        <activity
            android:name=".ProfileDetailsActivity"
            android:label="Profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProfileAchievements"
            android:label="Profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".NavigationSettingsActivity" />
        <activity android:name=".VoiceOptionActivity" />
        <activity android:name=".FitnessSettingsActivity" />
        <activity

            android:name=".DownloadMapActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".EditProfileActivity"></activity>
        <activity android:name=".DownloadMapListActivity"></activity>
    </application>

</manifest>